.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  & .button-rounded {
    width: 90%;
    height: 90%;
    border: 1px solid #F9F9F9;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 2px 4px 2px rgba(0,0,0,0.03);
    padding: 10px;
    outline: none;
    transition: 0.1s ease all;
    font-size: 28px;
    &:hover {
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }
}